/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.gmg.growmygarden.data.source

import java.io.IOException
import okhttp3.OkHttpClient
import okhttp3.HttpUrl

import org.openapitools.client.models.FiltersNotSpecies
import org.openapitools.client.models.FiltersPlants
import org.openapitools.client.models.FiltersSpecies
import org.openapitools.client.models.GetPlant200Response
import org.openapitools.client.models.ListPlants200Response
import org.openapitools.client.models.RangesPlants
import org.openapitools.client.models.RangesSpecies
import org.openapitools.client.models.ReportPlants201Response
import org.openapitools.client.models.ReportPlantsRequest
import org.openapitools.client.models.SortsPlants
import org.openapitools.client.models.SortsSpecies

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class PlantsApi(basePath: kotlin.String = defaultBasePath, client: OkHttpClient = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "http://trefle.io")
        }
    }

    /**
     * Retrieve a plant
     * Get a plant
     * @param id The id or the slug of the requested plant
     * @return GetPlant200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPlant(id: kotlin.String) : GetPlant200Response {
        val localVarResponse = getPlantWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetPlant200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Retrieve a plant
     * Get a plant
     * @param id The id or the slug of the requested plant
     * @return ApiResponse<GetPlant200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPlantWithHttpInfo(id: kotlin.String) : ApiResponse<GetPlant200Response?> {
        val localVariableConfig = getPlantRequestConfig(id = id)

        return request<Unit, GetPlant200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPlant
     *
     * @param id The id or the slug of the requested plant
     * @return RequestConfig
     */
    fun getPlantRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/plants/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List plants
     * List plants
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @param page The page to fetch (optional)
     * @return ListPlants200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listPlants(filter: FiltersSpecies? = null, filterNot: FiltersNotSpecies? = null, order: SortsSpecies? = null, range: RangesSpecies? = null, page: java.math.BigDecimal? = null) : ListPlants200Response {
        val localVarResponse = listPlantsWithHttpInfo(filter = filter, filterNot = filterNot, order = order, range = range, page = page)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListPlants200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List plants
     * List plants
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @param page The page to fetch (optional)
     * @return ApiResponse<ListPlants200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listPlantsWithHttpInfo(filter: FiltersSpecies?, filterNot: FiltersNotSpecies?, order: SortsSpecies?, range: RangesSpecies?, page: java.math.BigDecimal?) : ApiResponse<ListPlants200Response?> {
        val localVariableConfig = listPlantsRequestConfig(filter = filter, filterNot = filterNot, order = order, range = range, page = page)

        return request<Unit, ListPlants200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listPlants
     *
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @param page The page to fetch (optional)
     * @return RequestConfig
     */
    fun listPlantsRequestConfig(filter: FiltersSpecies?, filterNot: FiltersNotSpecies?, order: SortsSpecies?, range: RangesSpecies?, page: java.math.BigDecimal?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
                if (filterNot != null) {
                    put("filter_not", listOf(filterNot.toString()))
                }
                if (order != null) {
                    put("order", listOf(order.toString()))
                }
                if (range != null) {
                    put("range", listOf(range.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/plants",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List plants of a genus
     * List plants of the requested genus
     * @param genusId The genus id or slug
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @param page The page to fetch (optional)
     * @return ListPlants200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listPlantsGenus(genusId: kotlin.String, filter: FiltersSpecies? = null, filterNot: FiltersNotSpecies? = null, order: SortsSpecies? = null, range: RangesSpecies? = null, page: java.math.BigDecimal? = null) : ListPlants200Response {
        val localVarResponse = listPlantsGenusWithHttpInfo(genusId = genusId, filter = filter, filterNot = filterNot, order = order, range = range, page = page)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListPlants200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List plants of a genus
     * List plants of the requested genus
     * @param genusId The genus id or slug
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @param page The page to fetch (optional)
     * @return ApiResponse<ListPlants200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listPlantsGenusWithHttpInfo(genusId: kotlin.String, filter: FiltersSpecies?, filterNot: FiltersNotSpecies?, order: SortsSpecies?, range: RangesSpecies?, page: java.math.BigDecimal?) : ApiResponse<ListPlants200Response?> {
        val localVariableConfig = listPlantsGenusRequestConfig(genusId = genusId, filter = filter, filterNot = filterNot, order = order, range = range, page = page)

        return request<Unit, ListPlants200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listPlantsGenus
     *
     * @param genusId The genus id or slug
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @param page The page to fetch (optional)
     * @return RequestConfig
     */
    fun listPlantsGenusRequestConfig(genusId: kotlin.String, filter: FiltersSpecies?, filterNot: FiltersNotSpecies?, order: SortsSpecies?, range: RangesSpecies?, page: java.math.BigDecimal?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
                if (filterNot != null) {
                    put("filter_not", listOf(filterNot.toString()))
                }
                if (order != null) {
                    put("order", listOf(order.toString()))
                }
                if (range != null) {
                    put("range", listOf(range.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/genus/{genus_id}/plants".replace("{"+"genus_id"+"}", encodeURIComponent(genusId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * List plants in a distribution zone
     * List all the plants in the requested zone.
     * @param zoneId The zone id or twdg code
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @param page The page to fetch (optional)
     * @return ListPlants200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listPlantsZone(zoneId: kotlin.String, filter: FiltersSpecies? = null, filterNot: FiltersNotSpecies? = null, order: SortsSpecies? = null, range: RangesSpecies? = null, page: java.math.BigDecimal? = null) : ListPlants200Response {
        val localVarResponse = listPlantsZoneWithHttpInfo(zoneId = zoneId, filter = filter, filterNot = filterNot, order = order, range = range, page = page)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListPlants200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * List plants in a distribution zone
     * List all the plants in the requested zone.
     * @param zoneId The zone id or twdg code
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @param page The page to fetch (optional)
     * @return ApiResponse<ListPlants200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listPlantsZoneWithHttpInfo(zoneId: kotlin.String, filter: FiltersSpecies?, filterNot: FiltersNotSpecies?, order: SortsSpecies?, range: RangesSpecies?, page: java.math.BigDecimal?) : ApiResponse<ListPlants200Response?> {
        val localVariableConfig = listPlantsZoneRequestConfig(zoneId = zoneId, filter = filter, filterNot = filterNot, order = order, range = range, page = page)

        return request<Unit, ListPlants200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listPlantsZone
     *
     * @param zoneId The zone id or twdg code
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @param page The page to fetch (optional)
     * @return RequestConfig
     */
    fun listPlantsZoneRequestConfig(zoneId: kotlin.String, filter: FiltersSpecies?, filterNot: FiltersNotSpecies?, order: SortsSpecies?, range: RangesSpecies?, page: java.math.BigDecimal?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
                if (filterNot != null) {
                    put("filter_not", listOf(filterNot.toString()))
                }
                if (order != null) {
                    put("order", listOf(order.toString()))
                }
                if (range != null) {
                    put("range", listOf(range.toString()))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/distributions/{zone_id}/plants".replace("{"+"zone_id"+"}", encodeURIComponent(zoneId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Report an error
     * A short API call to report an error regarding a plant entry
     * @param id The id or the slug of the requested species
     * @param reportPlantsRequest  (optional)
     * @return ReportPlants201Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun reportPlants(id: kotlin.String, reportPlantsRequest: ReportPlantsRequest? = null) : ReportPlants201Response {
        val localVarResponse = reportPlantsWithHttpInfo(id = id, reportPlantsRequest = reportPlantsRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ReportPlants201Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Report an error
     * A short API call to report an error regarding a plant entry
     * @param id The id or the slug of the requested species
     * @param reportPlantsRequest  (optional)
     * @return ApiResponse<ReportPlants201Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun reportPlantsWithHttpInfo(id: kotlin.String, reportPlantsRequest: ReportPlantsRequest?) : ApiResponse<ReportPlants201Response?> {
        val localVariableConfig = reportPlantsRequestConfig(id = id, reportPlantsRequest = reportPlantsRequest)

        return request<ReportPlantsRequest, ReportPlants201Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation reportPlants
     *
     * @param id The id or the slug of the requested species
     * @param reportPlantsRequest  (optional)
     * @return RequestConfig
     */
    fun reportPlantsRequestConfig(id: kotlin.String, reportPlantsRequest: ReportPlantsRequest?) : RequestConfig<ReportPlantsRequest> {
        val localVariableBody = reportPlantsRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/v1/plants/{id}/report".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * Search for a plant
     * Search for a plant with the given scientific name, common name, synonym name etc.
     * @param q The string to search
     * @param page The page to fetch (optional)
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @return ListPlants200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchPlants(q: kotlin.String, page: java.math.BigDecimal? = null, filter: FiltersPlants? = null, filterNot: FiltersNotSpecies? = null, order: SortsPlants? = null, range: RangesPlants? = null) : ListPlants200Response {
        val localVarResponse = searchPlantsWithHttpInfo(q = q, page = page, filter = filter, filterNot = filterNot, order = order, range = range)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListPlants200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * Search for a plant
     * Search for a plant with the given scientific name, common name, synonym name etc.
     * @param q The string to search
     * @param page The page to fetch (optional)
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @return ApiResponse<ListPlants200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchPlantsWithHttpInfo(q: kotlin.String, page: java.math.BigDecimal?, filter: FiltersPlants?, filterNot: FiltersNotSpecies?, order: SortsPlants?, range: RangesPlants?) : ApiResponse<ListPlants200Response?> {
        val localVariableConfig = searchPlantsRequestConfig(q = q, page = page, filter = filter, filterNot = filterNot, order = order, range = range)

        return request<Unit, ListPlants200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchPlants
     *
     * @param q The string to search
     * @param page The page to fetch (optional)
     * @param filter Filter on values (optional)
     * @param filterNot Exclude results matching null values (optional)
     * @param order Sort on values (optional)
     * @param range Range on values (optional)
     * @return RequestConfig
     */
    fun searchPlantsRequestConfig(q: kotlin.String, page: java.math.BigDecimal?, filter: FiltersPlants?, filterNot: FiltersNotSpecies?, order: SortsPlants?, range: RangesPlants?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (filter != null) {
                    put("filter", listOf(filter.toString()))
                }
                if (filterNot != null) {
                    put("filter_not", listOf(filterNot.toString()))
                }
                if (order != null) {
                    put("order", listOf(order.toString()))
                }
                if (range != null) {
                    put("range", listOf(range.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/v1/plants/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
