<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We use your photo library so you can attach plant photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save plant photos to your library.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>We send notifications to remind you to water and fertilize your plants.</string>

</dict>
</plist>
