name: Check PR
on:
  pull_request
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  Setup:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - id: set-tests
        name: Set Tests
        run: |
          isManual=${{ github.event_name == 'workflow_dispatch' }}
          hasKmpLabel=${{ contains(github.event.pull_request.labels.*.name, 'KMP') }}
          shouldRunKmp=false
          if $isManual || $hasKmpLabel ; then
            shouldRunKmp=true
          fi
          echo "shouldRunKmp=$shouldRunKmp" >> "$GITHUB_OUTPUT"
          echo "shouldRunAndroid=${{ contains(github.event.pull_request.labels.*.name, 'Android') }}" >> "$GITHUB_OUTPUT"
          echo "shouldRunIos=${{ contains(github.event.pull_request.labels.*.name, 'iOS') }}" >> "$GITHUB_OUTPUT"
          echo "shouldRunDesktop=${{ contains(github.event.pull_request.labels.*.name, 'Desktop') }}" >> "$GITHUB_OUTPUT"
    outputs:
        shouldRunKmp: ${{ steps.set-tests.outputs.shouldRunKmp }}
        shouldRunAndroid: ${{ steps.set-tests.outputs.shouldRunAndroid }}
        shouldRunIos: ${{ steps.set-tests.outputs.shouldRunIos }}
        shouldRunDesktop: ${{ steps.set-tests.outputs.shouldRunDesktop }}

  Lint:
      uses: ./.github/workflows/lint.yml

  UnitTests:
#    needs: [Setup, Lint]
    needs: Setup
    uses: ./.github/workflows/run-tests.yml
    with:
      shouldRunKmp: ${{ needs.Setup.outputs.shouldRunKmp }}
      shouldRunAndroid: ${{ needs.Setup.outputs.shouldRunAndroid }}
      shouldRunIos: ${{ needs.Setup.outputs.shouldRunIos }}
      shouldRunDesktop: ${{ needs.Setup.outputs.shouldRunDesktop }}
    secrets: inherit

  Build:
#    needs: [Setup, Lint]
    needs: Setup
    uses: ./.github/workflows/build.yml
    with:
      shouldRunKmp: ${{ needs.Setup.outputs.shouldRunKmp }}
      shouldRunAndroid: ${{ needs.Setup.outputs.shouldRunAndroid }}
      shouldRunIos: ${{ needs.Setup.outputs.shouldRunIos }}
      shouldRunDesktop: ${{ needs.Setup.outputs.shouldRunDesktop }}
    secrets: inherit
  AllowMerge:
    if: always()
    runs-on: ubuntu-latest
    needs: [ UnitTests, Build, Lint]
    steps:
      - run: |
          if [ ${{ (contains(needs.Build.result, 'failure')) }} == true ] || [ ${{ (contains(needs.UnitTests.result, 'failure')) }} == true ] || [ ${{ (contains(needs.Lint.result, 'failure')) }} == true ]; then
            exit 1
          else
            exit 0
          fi
