name: Label
on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
jobs:
  Label:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - id: labeler
        uses: actions/labeler@v5
